QPushButton
{
	background-color: #FFFFFF; /*背景色*/
	border-style: solid;
	border-width: 4px;
	border-radius: 15px; /*边界圆滑*/
	border-color: #D6CBAB;
	font: normal 22px;
	min-width:2em;
	color:"#A69B8F"; /*字体颜色*/
	font-family:"HYWenHei-85W";
	padding: 5px;
}

QPushButton:hover
{
    color: #4B4C50;
	background-color: #E5DED4;
}

QPushButton:pressed
{
	background-color: rgba(227,223,212,90%); /*伪状态经过时背景色*/
}
QPushButton:!enabled{
	background-color: rgb(100, 100, 100);
	border-style: inset;
}